{% extends 'base.html.twig' %}

{% block title %}Edit Commande{% endblock %}

{% block body %}
    <h1>Edit Commande</h1>

    {{ include('admin_commande/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_commande_index') }}">back to list</a>

    {{ include('admin_commande/_delete_form.html.twig') }}
{% endblock %}
